body{
    background:url('fitness1.jpeg') ;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    background-color: white;
    border: 2px solid purple;
    border-radius: 5px;
}
.navbar ul{
    overflow: auto; /*eta na korle background color ta porbe na list items e*/
   
}
.navbar li{
    float:left;
    list-style: none;
    margin: 1px 1px;
    width: 10%;
    
}
.navbar li a{
    padding: 1px 1px;
    text-decoration: none;
    color: black;
}
.navbar li a:hover{
    background-color:red;
}
.right{
    cursor: pointer;
    position: absolute;
    right: 40px;
    top: 75px;
}
.container{
    border: 2px solid white;
    border-radius: 20px;
    padding: 14px;
    margin: 34px;
}
    /*background-color: black;
    padding: 75px;
    margin: 106px 80px;
    width: 33%;
}
#items{
    background-color: white;
    border: 1px solid white;
    border-radius: 4px;
    margin:20px;
    width: 33%;

}*/


h1{
    color:rgb(152, 154, 202);
    font-family: cursive;
    font-weight: bold;
    font-size: 50px;
    margin-top: 0.5px;
}